
<%= simple_form_for @friendship, :defaults => { :input_html => { :class => "form-control" } } do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.association :expert, :collection => Expert.all, :label_method => :fullname, :value_method => :id %>
    
    <%= f.association :friend, :collection => Expert.all, :label_method => :fullname, :value_method => :id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
