

<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h1>Friendships</h1>
		
			<%= link_to '<span class="glyphicon glyphicon-plus"></span> New'.html_safe, new_friendship_path, class: "btn btn-primary" %>
		</div>
		
	</div>
		
	
		
</div>



	
	<div class="col-md-12 well">
		<div class="text-center">
			
			
		<%= will_paginate @friendships, renderer: BootstrapPagination::Rails %>
		</div>
		<%= page_entries_info @friendships %>
	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Expert</th>
		      <th>Friend</th>
		      <th></th>
		      
		    </tr>
		  </thead>
		
		  <tbody>
		    <% @friendships.each do |friendship| %>
		    <%@cur_expert = Expert.find(friendship.expert_id)%>
		    <%@cur_friend = Expert.find(friendship.friend_id)%>
		      <tr>
		        <td><%= link_to @cur_expert.fullname, @cur_expert%></td>
		        	<td><%= link_to @cur_friend.fullname, @cur_friend%></td>
		        <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, friendship, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-block btn-danger' %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	</div>
	</div>









