<br>
<div class="row">
	<div class="container">
		<div class="col-md-6 well">
			<h1>Tags</h1>
		
			<%= link_to 'Create new', new_tag_path, class: "btn btn-primary" %>
		</div>
		
	</div>
		
	
		
</div>


<div class="row">
	<div class="container">
		<div class="col-md-12 well">
		<div class="text-center">
			
			
		<%= will_paginate @tags, renderer: BootstrapPagination::Rails %>
		</div>
		<%= page_entries_info @tags %>
	<div class="table-responsive">
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th>Expert</th>
		      <th>Tag</th>
		      <%if (@search)%>
		      <th>Path from <%=$current_expert.fullname%> to Expert</th>
		      <%end%>
		      
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>
		
		  <tbody>
		    <%@tags.each do |tag| %>
		    
		    <%@cur_expert = Expert.find(tag.expert_id)%>
		    
		    <%@tag_text = tag.tag%>
		      <tr>
		        <td><%= link_to @cur_expert.fullname, @cur_expert%></td>
		        <td><%= @tag_text%></td>
		        <%if (@search)%>
		    		<td><%= Expert.print_results(Expert.get_friend_path(arr = [$current_expert], arr2 = [$current_expert], @cur_expert))%></td>
		    	<%end%>
		        <td><%= link_to 'Remove', tag, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn-xs btn-danger' %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	
	</div>
	</div>
	
</div>


