
<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h1><%=Tag.getheader(@search)%></h1>
			<%if !@search%>
			<%= link_to '<span class="glyphicon glyphicon-plus"></span> New'.html_safe, new_tag_path, class: "btn btn-primary" %>
			<%else%>
			<h3>for term: <span class="label label-success"><%=@term%></span></h3>
			<%end%>
		</div>
	</div>	
</div>



		<div class="col-md-12 well">
		<div class="text-center">
			
			
		<%= will_paginate @tags, renderer: BootstrapPagination::Rails %>
		</div>
		<div class="well well-sm">
		<%= page_entries_info @tags %>
		</div>
	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Expert</th>
		      <th>Tag</th>
		      <%if (@search)%>
		      <th>Path from <%=$current_expert.fullname%> to Expert</th>
		      <%end%>
		      
		      <th></th>
		    </tr>
		  </thead>
		
		  <tbody>
		    <%@tags.each do |tag| %>
		    
		    <%@cur_expert = tag.expert%>
		    
		    <%@tag_text = tag.tag%>
		      <tr>
		        <td><%= link_to @cur_expert.fullname, @cur_expert%></td>
		        <td><%= @tag_text%></td>
		        <%if (@search)%>
		    		<td><%= Expert.print_results(Expert.get_friend_path(arr = [$current_expert], arr2 = [$current_expert], @cur_expert))%></td>
		    	<%end%>
		        <td>
		        	<%if !@search%>
		        	<%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, tag, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-block btn-danger' %>
		        	<%end%>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	
	
	
</div>


