
<%= simple_form_for @expert, :class => "form-control" do |f| %>
      <%= f.error_notification %>
   

  <div class="form-inputs">
    <%= f.input :firstname%>
    <%= f.input :surname%>
    <%= f.label :long_website, :label => "Website"%>
    
    <div class="input-group">
  		<%= f.input :long_website, :wrapper => :prepend, :label => false do %>
    	<%= content_tag :span, "http://", :class => "input-group-addon" %>
    	<%= f.input_field :long_website, :placeholder => "example.co.uk" %>
	</div>
  <% end %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-success pull-right" %>
  
<% end %>

