<br>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-6 well text-center">
			<h1>
  				<%= @expert.fullname %><span class="badge"><%= @expert.friendships.length%></span>
			</h1>


			<p>
  				<%= link_to @expert.website, @expert.website %>
			</p>
			<p>
  				(
  				<%= @expert.long_website %>
  				)
			</p>

			<div class="row">
				<%if ($current_expert == @expert)%>
					<%= link_to 'Remove Active',remove_current_expert_expert_path(@expert), class: 'btn btn-danger btn-block' %>
				<%else%>
					<%= link_to 'Set Active',set_current_expert_expert_path(@expert), class: 'btn btn-success btn-block' %>
				<%end%>
				<%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_expert_path(@expert), :class => "btn btn-warning btn-block" %>	        	
				<%if ($current_expert)%>
	
					<%if (@expert == $current_expert)%>
			
			
					<%else%>
						<%if (@curship = $current_expert.friendships.where(:friend_id => @expert.id).first)%>
				
							<%= link_to '<span class="glyphicon glyphicon-minus"></span> Friend'.html_safe, @curship, controller: 'friendships', method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-block' %>
						<%else%>
							<%= link_to '<span class="glyphicon glyphicon-plus"></span> Friend'.html_safe, friendships_path(:friendship =>{:expert_id => $current_expert.id, :friend_id => @expert.id}), :method => :post, class: 'btn btn-success btn-block' %>
						<%end%>
			
			
					<%end%>
		
	
				<%end%>
				<%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, @expert, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-block' %>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-5 well">
			<%if ($current_expert != @expert)%>
				<%@dis = true%>
				<%@place_text = 'Must make user active before search'%>
			<%else%>
				<%@dis = false%>
				<%@place_text = 'Search via tags...'%>
			<%end%>
			<%= simple_form_for :search, :url => tags_path, :method => :get, :class => "form-control" do |f| %>
			  	<%= f.error_notification %>
			
			  	<div class="form-inputs">
			    	<%= f.label 'Find Friends', :required => false%>
			    	<%= f.input :search, :label => false do %>
			    	
	    			<%= f.input_field :search, :placeholder => @place_text, :disabled => @dis %>
	    			
	    			<%end%>
			  	</div>
			
			  	<div class="form-actions">
			    	<%= f.button :submit, :value => 'Search', :class => "btn btn-success btn-block", :disabled => @dis %>
			  	</div>
			<% end %>
			<br>
			
			
		
		
		
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
	
	<div class="col-md-6 well">
		<div class="text-center">
		<%= will_paginate @tags, renderer: BootstrapPagination::Rails, :param_name => 'tag_page', :class => "pagination-sm"  %>
		</div>
		<%= page_entries_info @tags %>
	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Tags</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @tags.each do |tag| %>
		      <tr>
		        <td><%= tag.tag%> </td>
		        <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, tag, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-block btn-danger' %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	</div>
	<div class="col-md-offset-1 col-md-5 well">
		<div class="text-center">
		<%= will_paginate @friends, renderer: BootstrapPagination::Rails, :param_name => 'friend_page',:class => "pagination-sm"  %>
		</div>
		<%= page_entries_info @friends %>
	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Friends</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @friends.each do |fr| %>
		      <tr>
		        <td><%= link_to fr.fullname , fr%> </td>
		        <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, @expert.friendships.where(:friend_id => fr.id).first, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-block btn-danger' %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	</div>
	</div>
</div>



